doctype html
html
    head
        title KnowCrpto
        block scripts
        block style
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/rsz_2logo.png")
                    | KC
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]

        block content
        footer#footer
            | Copyright © 2021 
            |#[a(href="https://in.linkedin.com/in/vivekdxt") Vivek Dixit]
            || All Rights Reserved
